
<div id="navbar" class="navbar">
  <div class="navbar-container" id="navbar-container">
    <div class="navbar-header pull-left">
      <%= link_to root_path, class: "navbar-brand" do %>
        <small>
        Shortener URL
        </small>
      <% end %>
    </div>
  </div>
</div>
